[submodule "sol/lib/forge-std"]
	path = sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sol/lib/solmate"]
	path = sol/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "sol/lib/openzeppelin-contracts"]
	path = sol/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
